@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

.name {
  color: white;
  font-size: calc(4rem + 1vw);
  text-shadow: 0px 0px 10px rgb(0 0 0 / 20%), 0px 0px 5px rgb(1 0 5 / 10%);
}

.nouns {
  color: white;
  font-size: calc(2rem + 1vw);
  text-shadow: 0px 0px 10px rgb(0 0 0 / 20%), 0px 0px 5px rgb(1 0 5 / 10%);
}
