@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  color: white;
  font-size: calc(4rem + 1vw);
  text-shadow: 0px 0px 10px rgb(0 0 0 / 20%), 0px 0px 5px rgb(1 0 5 / 10%);
}

.nouns {
  color: white;
  font-size: calc(2rem + 1vw);
  text-shadow: 0px 0px 10px rgb(0 0 0 / 20%), 0px 0px 5px rgb(1 0 5 / 10%);
}
